.navButton {
    border: 4px lightgray solid;
    background-color: #364652;
    text-align: center;
    display: inline-block;
    width: 125px;
    height: 50px;
    border-radius: 10px;
    color: #EFE1C4;
    margin: 10px;
}

.navBar {
    background-color: #071108;
    text-align: center;
}

body {
    background-color: lightgray;
    color: black;
}

a {
    text-decoration: none;
}