.categories {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.category {
    border: 4px lightgray solid;
    background-color: #364652;
    text-align: center;
    border-radius: 10px;
    color: #EFE1C4;
    margin: 10px;
    width: 400px;
    height: 300px;
}